BasedOnStyle: Google
UseTab: Always
IndentWidth: 4
TabWidth: 4
AllowShortIfStatementsOnASingleLine: false
IndentPPDirectives: BeforeHash  # Specify the indentation for preprocessor directives
AlignConsecutiveMacros: true
AlignConsecutiveDeclarations: true
